.DS_Store
.idea
.composer
.rnd
.selected_editor
.docker-sync/
.npm
!.gitkeep
.viminfo
.rediscli_history
.cache
bower_components/
logs/*
front/build/
front/.sass-cache/
front/dist*
front/src/assets/css/*
storage/*.key
vendor
/var/*
